<p-panel header="Fruits List">
  <p-dataGrid [value]="fruits" [paginator]="true" [rows]="20">
    <p-header>
      List of fruits
    </p-header>
    <ng-template let-fruit pTemplate="item">
      <div style="padding:3px;" class="ui-g-12 ui-md-3">
        <p-panel [header]="fruit.name" height="200" [style]="{'text-align':'center'}">
          <img src="{{fruit.imgPath}}" width="200">
          <div class="fruit-detail">{{fruit.description}} </div>
        </p-panel>
      </div>
    </ng-template>
  </p-dataGrid>
</p-panel>