<p-panel header="Fruits List">
  <p-growl [(value)]="msgs"></p-growl>
  <p-dataGrid [value]="fruits$ | async" [paginator]="true" [rows]="20" [lazy]="true">
    <p-header>
      List of fruits
    </p-header>
    <ng-template let-fruit pTemplate="item">
      <div style="padding:3px;" class="ui-g-12 ui-md-4 divHeight">
        <p-panel [header]="fruit.name" [style]="{'height':'400px'}" [toggleable]="true">
          <img src="assets/FruitsImg/{{fruit.imgPath}}" width="200">
          <div class="fruit-detail">{{fruit.description}} </div>
        </p-panel>
      </div>
    </ng-template>
  </p-dataGrid>

</p-panel>