<div class="ui-g ui-g-nopad" id="header">

  <div class="ui-g-10">
    <h2>Dhanai Fruits Marts</h2>
  </div>
  <div class="ui-g-2" id="notifications">
    <div *ngIf="!(authService.user$ | async)?.uid">
      <button class="button is-white is-small is-pulled-right" (click)="userLogin()">Login</button>
    </div>
    <div *ngIf="(authService.user$ | async)?.uid">
      <button pButton (click)="userLogOut()" label="Logout">
      </button>
    </div>
  </div>
</div>
<div class="ui-g ui-g-nopad">
  <div class="ui-g-2 ui-g-nopad" id="sidegutter">
    <div id="sidenav">
      <p-menu #bigMenu [model]="menuItems"></p-menu>
    </div>
  </div>
  <div class="ui-g-2 ui-g-nopad" id="minigutter">
    <div id="sidenav-mini">
      <p-menu #smallMenu [model]="miniMenuItems"></p-menu>
    </div>
  </div>
  <div id="content-body" class="ui-g-10 ui-g-nopad">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>