<p-panel header="Employee List">
  <p-dataTable #dt [value]="employeesss | async" emptyMessage="No time entries found" [reorderableColumns]="true" [resizableColumns]="true"
    [paginator]="true" [rows]="10" [globalFilter]="tableSearch" [rowsPerPageOptions]="[5,10,15,20]" [pageLinks]="8">
    <p-column selectionMode="multiple" styleClass="selectBoxColumn"></p-column>
    <p-column field="data.firstName" header="First Name" [sortable]="true"></p-column>
    <p-column field="data.lastName" [sortable]="true" header="Last Name"></p-column>
    <p-column field="data.email" [sortable]="true" header="Email Address"></p-column>
    <p-column field="data.mobile" [sortable]="true" header="Mobile"></p-column>
    <p-footer>
      <label for="tableSearch">Search: </label>
      <input id="tableSearch" #tableSearch type="text" placeholder="Search All The Things">
      <button type="button" pButton icon="fa-table" label="Export" (click)="dt.exportCSV()" style="float:right;"></button>
    </p-footer>
  </p-dataTable>
  <button pButton type="submit" (click)="AddEmployee()" label="Add Employee"></button>
</p-panel>

<p-panel header="Add Employee">
  <div class="field">
    <label class="label">Fisrt Name</label>
    <div class="control">
      <input class="input" type="text" [(ngModel)]="firstName" name="firstName" placeholder="firstName..">
    </div>
  </div>

  <div class="field">
    <label class="label">Last Name</label>
    <div class="control">
      <input class="input" [(ngModel)]="lastName" name="lastName" placeholder="lastName.." />
    </div>
  </div>


  <div class="field">
    <label class="label">Last Name</label>
    <div class="control">
      <input class="input" [(ngModel)]="born" name="born" placeholder="born.." />
    </div>
  </div>

  <div class="field">
    <label class="label">Email </label>
    <div class="control">
      <input class="input" [(ngModel)]="email" name="email" placeholder="email.." />

    </div>
  </div>


  <div class="field">
    <label class="label">Email </label>
    <div class="control">
      <input class="input" [(ngModel)]="mobile" name="mobile" placeholder="mobile.." />

    </div>
  </div>
  <button class="button is-primary" type="submit" (click)="AddEmployee()">Add Post</button>
</p-panel>

